.header--mobile {
   display: none;
}

@media (max-width: 475px) {
   .header--mobile {
      display: flex;
      justify-content: space-between;
      background-color: var(--Black);
   }
   .header--mobile__container {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.1);
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
   }
   .close__btn {
      border-radius: 100%;
      border: 2px solid transparent;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   }
   .close__btn:hover {
      border: 2px solid rgba(0, 0, 0, 0.1);
   }
   .header--mobile__menu__container {
      width: 80%;
      height: 100%;
      background-color: #fff;
   }
   .close--btn__component {
      width: 22%;
      display: flex;
      gap: 5px;
      align-items: center;
      position: absolute;
      right: 0;
   }
}
